body{
  height: 3800px;
}
.section1{
  .container{
    .col-5{
      .row{
        input{
          width: 250px;
          height: 40px;
          border: 2px solid silver;
        }
        .btn{
          height: 40px;
          background-color: green;
          p{
            color: white;
          }
        }
      }
    }
  }
}
.section2{
div{
  .h75{
    margin-top: 100px;
  }
  .div1:hover{
cursor: pointer;
  }
  .div1{
    .img1{
      margin-left: -70px;
      width: 40px;
      height: 40px;
    }
    margin-top: -450px;
    h6{
      margin-top: 100px;
      margin-left: 35px;
      color: white;
    }
    width: 200px;
    height: 200px;
    border: 5px solid #1ee154;
    border-radius: 50%;
    background-color: green;
    animation-name: btn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
@keyframes btn {
  0%{
    box-shadow:  0 0 0 #19de50, 0 0 0 15px #1ee154;
  }
  100%{
    box-shadow: 0 0 0 0 #19de50, 0 0 0 30px transparent;
  }
}
}
}
.section3{
  .container{
    .row{
      .col-5{
        margin-top: 180px;
      }
      .col-7{
        .img2{
          width: 635px;
        }
      }
    }
  }
}
.section4{
  .container{
    .row{
      .col-7{
        .map{
          width: 700px;
        }
      }
      .col-5{
        input{
          width: 300px;
        }
          .btn{
            height: 40px;
            background-color: green;
            p{
              color: white;
            }
          }
      }
    }
  }
}
.section5{
  .container{
    .row{
      .col-2{
        h6{
          width: 300px;
        }
      }
      .col-1{
        h6{
          color: #9c9c9c;
        }
      }
    }
  }
}
.section6{
  .container{
    .row{
      .card3{
        .h65{
          color: #979797;
        }
        .h66{
          width: 150px;
          border-right: 2px solid #979797;
          color: #979797;
        }
      }
    }
    .col-3{
      .card3{
        h6{
          border-left: 2px solid silver;
          color: silver;
        }

      }
      img{
        width: 40px;
        height:40px;
      }
    }
    .col-2{
      .row{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}